<div class="container d-flex j-content-between mb-2">
  <div class="col-sm-6">
    <h2>Criar Novo Meio de Pagamento</h2>
  </div>
  <div class="col-sm-6 text-right">
    <%= link_to 'Voltar', payment_methods_path,:class => "btn btn-warning" %>
  </div>
</div>

<%= render 'form'%>